{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changepassword" method="post">
        <div class="form-group">
            <input id="old-password" class="form-control" name="old-password" placeholder="Old Password" type="password">
            <div id="old-passwordTooltip"></div>
        </div>

        <div class="form-group">
            <input id="new-password" class="form-control" name="new-password" placeholder="New Password" type="password">
            <div id="new-passwordTooltip"></div>
        </div>

        <div class="form-group">
            <input id="new-password-confirmation" class="form-control" name="new-password-confirmation" placeholder="New Password Again" type="password">
            <div id="new-password-confirmationTooltip"></div>
        </div>

        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>

    <script>

        var isSubmitClick = false;

        $(document).ready( function(){
            $('.btn').click( function(e){
                isSubmitClick = true;
                e.preventDefault();

                var oldPasswordTest = passwordValidation('old-password');
                var passwordConfirmationTest = passwordConfirmation('new-password', 'new-password-confirmation');

                if(oldPasswordTest && passwordConfirmationTest){
                    $('form').submit();
                }
            });

            $('#old-password').keyup(function(){
                passwordValidation('old-password');
            });

            $('#new-password, #new-password-confirmation').keyup(function(){
                passwordConfirmation('new-password', 'new-password-confirmation');
            });

        });

    </script>
{% endblock %}