{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select id="symbol" class="form-control" name="symbol">
                <option value="" selected disabled>Symbol</option>
                    {% for symbol in symbols %}
                        {% if symbol.shares > 0 %}
                            <option value={{ symbol.symbol }}>{{ symbol.symbol }}</option>
                        {% endif %}
                    {% endfor %}
            </select>
            <div id="symbolTooltip"></div>
        </div>
        <div class="form-group">
            <input id="shares" class="form-control" name="shares" placeholder="Shares" type="number" min="1">
            <div id="sharesTooltip"></div>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>

     <script>
        var isSubmitClick = false;

        $(document).ready(function(){

            $('.btn').click(function(e){

                isSubmitClick = true;
                e.preventDefault();

                var symbolTest = symbolValidation('symbol');
                var sharesTest = sharesValidation('shares');

                if( symbolTest && sharesTest){
                    $('form').submit();
                }
            })

            $('#symbol').change(function(){
                symbolValidation('symbol');
            });

            $('#shares').change(function(){
                sharesValidation('shares');
            }).keyup(function(){
                sharesValidation('shares');
            });
        });

    </script>
{% endblock %}